*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 30px 0px;
}

input, textarea{
    margin: 10px 0px;
    padding: 10px 20px;
    width: 100%;
}

button{
    padding: 10px 50px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.error-msg{
    color: red;
}